[user]
  name = Salatiel Queiroz
  email = 6747627+salatielsql@users.noreply.github.com
	signingkey = BBC6CA6365414E9A

[github]
  user = salatielsql

[init]
  defaultBranch = main

[push]
  default = current

[commit]
  verbose = true
	gpgsign = true

[tag]
	gpgSign = true
